*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  margin: auto;
  inline-size: 1140px;
  block-size: 534px;
}

/* Result section */

.result {
}

.result__video-container {
  position: relative;
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: fill;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-block-end: 5px;
}

.search-form__label {
  inline-size: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-form__label-text {
  
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border-block-start: 1px solid #FFF;
  border-block-end: 1px solid #FFF;
  border-inline-end: none;
  border-inline-start: none;
  inline-size: 225px;
  block-size: 27px;
  color: rgb(255 255 255 / 0.70);
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-block-end: 5px;
}

.search-form__checkbox {
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #fff;
  inline-size: 18px;
  block-size: 18px;
  cursor: pointer;
}

.button {
  cursor: pointer;
  border: 1px solid #fff;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  display: flex;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
}

/* Content details section */

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  inline-size: 100%;
  block-size: 100%;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-block-start: 26px;
  overflow: auto;
  block-size: 298px;
}

.content__card-link {
  text-decoration: none;
}

.content__list-item {
  inline-size: 100%;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  inline-size: 100%;
  block-size: 100%;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  padding-block-end: 6px;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
}

/* Visually hidden class */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Preloader class */

.preloader {
}

/* Button */

.more-button {
  display: flex;
  width: 399px;
  height: 34px;
  justify-content: center;
  align-items: center;
}